# Impedir que se pueda ver el listado de contenidos de un directorio


Options All -Indexes
#ErrorDocument 404 /404.html
# Url Amigables

RewriteEngine on

RewriteRule ^(\w+)/(\w+)$ index.php?action=$1&action2=$2 [L]

RewriteRule ^(\w+)$ index.php?action=$1 [L]
